/* Sign In CSS */

#SignIn {
  padding-top: 15px;
}

.sign-in-header {
  text-align: center;
}

#sign-in-form {
  margin: auto;
  max-width: 500px;
}

.fogot-password {
  text-align: right;
}

.fogot-password :hover {
  transition: 3s;
  color: black;
}
