/* Sign In CSS */

#SignIn {
  padding-top: 15px;
}

.sign-in-header {
  text-align: center;
}

#sign-in-form {
  margin: auto;
  max-width: 500px;
}

.security-pin-text {
  color: red !important;
  font-weight: normal !important;
}

.password-help {
  text-align: right;
}

.fogot-password :hover {
  transition: 3s;
  color: black;
}
